# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

git config --global http.postBuffer 524288000
git config --global http.maxRequestBuffer 1000M
git config --global http.lowSpeedLimit 0
git config --global http.lowSpeedTime 999999
